/* === Welcome Box === */
@keyframes scaleUp {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  
  .welcome-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem 3rem;
    max-width: 800px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
    z-index: 1;
    margin-top: 100px;
    animation: scaleUp 0.8s ease-out forwards;
  }
  
  /* === Title & Text === */
  .title {
    color: transparent;
    font-size: 3rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #0ff, rgb(0, 195, 255), rgb(255, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }
  
  .info-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e9f0ef;
    text-shadow: 0 0 8px #7deb83;
    margin-bottom: 2rem;
  }
  
  /* === Content Section === */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 2rem;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin-top: 60px;
    text-align: center;
  }
  
  /* === Games List === */
  .games-list {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
    z-index: 1;
  }
  
  .games-list h2 {
    font-size: 2rem;
    color: #40e0d0;
    margin-bottom: 1rem;
    text-shadow: 0 0 15px #40e0d0;
    width: 100%;
    text-align: center;
  }
  
  .section-heading {
    font-size: 2.1rem;
    line-height: 1.6;
    color: #ffffffd8;
    text-shadow: 0 0 8px #63f800;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
  }
  
  /* === Responsive for Home === */
  @media (max-width: 768px) {
    .welcome-box {
      padding: 1.5rem 1.5rem;
    }
  
    .games-list {
      flex-direction: column;
      align-items: center;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .info-text {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
  